*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-color: #75AADB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    position: relative;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

h1{
    font-size: 5rem;
    color: #ffffff;
}

.links-box{
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.links-box ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    width: 90%;
    padding: 2rem
}

.links {
    background-color: #fcbf45;
    border-radius: .6rem;
    padding: 1rem 3rem;
    text-align: center;
}

.links a{
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}

.footer{
    width: 100%;
    height: 9rem;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}

.footer a {
    color: #ffffff;
    font-weight: 600;
}
